.button-hover {
    display: inline-block;
    opacity: 0;
    transition: opacity .35s ease;
}

.row-hover:hover .button-hover {
    opacity: 1;
}

#totalStripe {
    clear:both;
}

p, div {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
